Protocol 2
PasswordAuthentication no
Port 10022
User myvertis
IdentitiesOnly yes
IdentityFile /.ssh/id_rsa
LogLevel DEBUG1
UserKnownHostsFile /.ssh/known_hosts
GatewayPorts yes
LocalForward 8194 localhost:8190
